<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-device" version="0.2.3">
    <name>Test</name>
    <description>Cordova Test Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,test</keywords>
    <js-module src="www/test.js" name="test">
        <clobbers target="test" />
    </js-module>
</plugin>